---
{% for pv in preprocess_vars %}
{%   set preprocess_tpl_search_path = [] %}
{%   set _ = preprocess_tpl_search_path.append(inventory_dir+'/../templates/preprocess') %}
{%   if pv.template_path is defined and pv.template_path %}
{%     set _ = preprocess_tpl_search_path.append(pv.template_path) %}
{%   endif %}
{%   if pv.role_name is defined and pv.role_name %}
{%     set _ = preprocess_tpl_search_path.append(role_path+'/../'+pv.role_name+'/templates/preprocess') %}
{%   endif %}
{%   set _ = preprocess_tpl_search_path.append(role_path+'/templates/preprocess') %}
{%   set preprocess_tpl_template_location = lookup('first_found', [ {
         'files': pv.template_name|d(pv.var_name)+'.j2',
         'paths': preprocess_tpl_search_path }])
%}
# aaa: "{{preprocess_tpl_search_path}}"
# bbb: "{{preprocess_tpl_template_location}}"
{%   set preprocess_tpl_var_value = lookup("template", preprocess_tpl_template_location) | from_yaml %}
{%   if preprocess_tpl_var_value is string %}
# string
{{pv.var_name}}: '{{ preprocess_tpl_var_value }}'
{%   else %}
# not a string
{{pv.var_name}}:
  {{ preprocess_tpl_var_value | to_nice_yaml(explicit_start=False, explicit_end=False) | indent(2, False)}}
{%   endif %}
{% endfor %}
